{
  "presets": [
    [
      "babel-preset-gatsby",
    {
      "targets": {
        "browsers": [">0.25%", "not dead"]
      }
    }
    ]
  ],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "markup"
        ],
        "plugins": [
          "show-language",
          "line-numbers"
        ],
        "theme": "tomorrow",
        "css": true
      }
    ]
  ]
}
